@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-container{
    width: 20rem;
    padding: 15px 5px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-container h1{
    padding: 10px;
}
.center-container button{
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding:10px 5px;
    width: 90%;
}

